extends layout.pug

block content

body
    h1 Update Book
    form
        p
        label(for="title") Title
        input#title(
            value="The Hunger Games" 
            type="text" 
            name="title"
            )
        p
        label(for="author") Author
        input#author(
            value="Suzanne Collins" 
            type="text" 
            name="author"
            )
        p
        label(for="genre") Genre
        input#genre(
            value="Fantasy" 
            type="text" 
            name="genre"
            )
        p
        label(for="year") Year
        input#year(
            value="2008" 
            type="text" 
            name="year"
            )
        p
        input(
            value="Update Book" 
            type="submit"
            )
    form(
        onsubmit="return confirm('Do you really want to delete this book?');" 
        action="/books/8/delete" 
        method="post"
        )
        p
        a.button(href="all_books.html") Cancel
        p
        input(
            value="Delete Book" 
            type="submit"
            )