extends layout.pug

block content
    h1 Update Book

    if (errors)
        h2.error Ooops!  Error 
        ul.error 
            each error in errors 
                li 
                    =error.message 

    form(method= "POST" action= `/books/${book.id}`)
        p
        label(for= "title") Title
        input#title(
            value= book.title 
            type="text" 
            name="title"
            )
        p
        label(for= "author") Author
        input#author(
            value= book.author 
            type="text" 
            name="author"
            )
        p
        label(for= "genre") Genre
        input#genre(
            value= book.genre
            type="text" 
            name="genre"
            )
        p
        label(for= "year") Year
        input#year(
            value= book.year
            type="text" 
            name="year"
            )
        p
        input(
            value="Update Book" 
            type="submit"
            )
    form(
        onsubmit="return confirm('Do you really want to delete this book?');" 
        action=`/books/${book.id}/delete` 
        method="post"
        )
        p
            a.button(href="/books") Cancel
        p
            input(
                value="Delete Book" 
                type="submit"
            )